<form>
  <div class="form-group">
      <input #emailControl="ngModel" hinvEmailvalidator hinvHover="green" type="email" class="form-control" name="name" [(ngModel)]="email" placeholder="Provide your username">
      <div>
          {{emailControl.errors | json}}
      </div>
  </div>
  <div class="form-group">
      <input hinvHover="steelblue" type="password" class="form-control" name="name" [(ngModel)]="password" placeholder="Enter your password">
  </div>
  <div class="form-group">
      <button class="btn btn-primary" (click)="login()">Login</button>
  </div>
</form>
