<!-- <h1>hello World!</h1> -->
<!-- <hinv-rooms> </hinv-rooms> -->

  <!-- <hinv-employee></hinv-employee> -->
<!-- <hinv-container>
  <hinv-rooms> </hinv-rooms>
  <hinv-employee></hinv-employee>
  <h1>This is from ng-content</h1>
</hinv-container> -->
<!-- 
<hinv-employee></hinv-employee>
<hinv-employee></hinv-employee>
<hinv-employee></hinv-employee> -->

<!-- <div #name></div> -->
<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome User!</div>
  <div *ngSwitchCase="'Admin'">
  </div>
    <div *ngSwitchDefault>
        You are not authorized to view this page!
    </div>
</div> -->
<!-- <div>
  <ng-template #user></ng-template>
</div> -->
<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<hinv-app-nav></hinv-app-nav>
<!-- <router-outlet></router-outlet> -->